body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url(../images/background.jpg);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #divform{
    display: flex;
    justify-content: center;
    position: absolute;
    left: 58rem;
    top:14rem;
    right: 3rem;
  

}

.form-control{
   width: 150%;
   /* height:18%; */
   padding:-500px;
}

#mainlogo{
  margin-top:3.7rem;
  margin-left:5.5rem;
  border-radius: 100px;
  height: 17rem;
  width: 16rem;

}



form{
    color: #CBC3E3;
   border-radius:10px;
    display: block;
    padding: 2rem;
    background: #400056;
    padding-left: 120px;
    padding-right: 100px;
}

#mainh1{
  color:#9867c5;
  padding-top: 2rem;
  margin-left:3rem;
  font-size: 3.4rem;
}

h2{
  color:#fffaf0;
  padding-top: 2rem;
  margin-left:3rem;

}

#secondh1{
  color: #fffaf0;
  padding-top: 4rem;
  margin-left:3rem;

}

h6{
  text-align: center;
  /* display: inline; */
}



#endline{
  text-align: center;
  color: #9867c5;
}

form h5, input, button{
  margin-left:-4rem;

}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8064A2 !important;
  border-color: #fff;
  
}

#forgot{
margin-left: 1.22rem;
margin-top: 10rem;

}
#forgot a{
  color: #fffaf0;
  font-size: 0.8rem;
  text-align: right;
 
}

footer b{
  color: #8064A2;
}

.oldlogo{
  margin-top:2.8rem;  
  margin-right : 2.2rem;
}

.login{
  /* margin-right: 17rem;
  margin-left:-7rem;
  margin-top: 5rem; */
  position: absolute;
  left:59rem;
  top:9rem;

}

.login h1{
  color:#8064A2;
  font-size:2.6rem;
}

::placeholder{
  font-style: italic;
}